:root {

    /*Theme colors */
    --header-color : #4f345a;
    --main-color : #5d4e6d;
    --selection-color : #d4c2fc;
    --text-color : #f9f5ff;
    --decor-color : #2892d7;

}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    background: var(--header-color);
}

ul {
    list-style : none;
    margin: 0;
}

.bold {
    font-weight: bold;
    color: var(--decor-color);
}

.icon {
    color : var(--selection-color)
}


/*
styling of the hyperlinks

*/

a {
    text-decoration : none;
    color : var(--text-color);
}

a:hover {
    color: var(--selection-color);
}

.header {
    margin: 0;
    background : var(--header-color);
    color : var(--text-color);
}

.header-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.person-info {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.header-name {
    margin-top: 10px;
    font-size: 2em;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.header-summary {
    padding-top: 25px;
    width : 800px;
}

.header-nav {
    display : flex;
    justify-content : flex-end;
}

.header-nav > li {
    display : inline-block;
    padding: 10px 25px;
    width : 150px;
    text-align: center;
}

.header-nav > li:hover, .current-selection {
    background-color : var(--main-color);
    transform: scale(1.1) ;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display : flex;
}

.main-session {
    margin: 0;
    padding-bottom: 50px;
    background: var(--main-color);
    color: var(--text-color);
}

.main-container, .main-container-2 {
    padding-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
}


.main-container > h2 {
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-container > div {
    display: flex;
    justify-content: center;
}

.main-container p {
    margin-left: 50px;
    margin-top: 0;
    width: 1000px;
}

.main-container-2 > h2 {
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-container-2 > div {
    display: flex;
    justify-content: center;
}

.main-container-2 p {
    margin-right: 50px;
    margin-top: 0;
    width: 1000px;
}

.hobby-list {
    margin-right: 50px;
    margin-top: 0;
    width: 1000px;
    font-size: 1.5em;
    list-style: initial;
}

.footer {
    margin-top: 0;
    padding: 50px;
    background: var(--header-color);
    color: var(--text-color);
}

.foot-info {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.foot-info a {
    color: var(--text-color);
}

.footer > h2 {
    margin: 0;
    text-align: center;
}

.foot-info > li {
    margin-left: 75px;
    margin-right: 75px;
    font-size: 0.8em;
    font-weight: initial;
}

